@using PAI_141249.Models;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="@Url.Content("~/Styles/Style.css")" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Strona główna", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
        <div class="container">
            <nav class="zestaw_linkow">

                @if (Session["user"] == null)
                {
                    @Html.ActionLink("Logowanie", "Login", "User")
                }
                @if (Session["user"] != null)
                {
                    using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        <a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj się</a>
                    }

                    @Html.ActionLink("Nowy Turniej", "NewTournament")
                    @Html.ActionLink("Moje Turnieje", "UserTournaments")
                }
                @if (Session["user"] != null)
                {
                    User uzytkownik = (User)Session["user"];
                    <p class="zalogowany">Zalogowany jako @uzytkownik.Email</p>
                    uzytkownik = null;
                }
                else
                {
                    <p class="zalogowany">Niezalogowany użytkownik</p>
                }
            </nav>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Projekt na zaliczenie Podstaw Aplikacji Internetowych - 141249</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("Scripts", true)
</body>
</html>